Source: python-geohash
Section: python
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Ian Eure <ian@simplegeo.com>
Build-Depends: debhelper (>= 7), cdbs (>= 0.4.59), python (>= 2.6), python-central (>= 0.6.11), python-dev
Standards-Version: 3.8.4
Homepage: http://github.com/simplegeo/python-geohash
XS-Python-Version: 2.6

Package: python-geohash
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Fast, accurate python geohashing library.
 This module provides geohash encoding and decoding functionality. It
 additionally supports the other 3 grid codes of quadtree, jpgrid (JIS
 X 0410) and jpiarea.

